@{
    ViewData["Title"] = "Zgadywanie";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="">

  
    <h1>Zgadywanie</h1>
    @if (ViewBag.range <= 0)
    {
        <p>Nie ustawiono poprawnego zakresu, z którego losowane sa liczby.</p>
        <p>Udaj się na stronę Set aby ustawić zakres, a następnie Draw aby wylosować liczbę.</p>
    }

    @if (ViewBag.range <= 0)
    {
        <p>Nie wylosowano jeszcze liczby, którą można zgadywać.</p>
        <p>Udaj się na stronę Draw.</p>
    }

    else {
        <p>Zgadywano liczbę z zakresu [0,@ViewBag.values.Item1].</p>
        // liczba 1
        if (ViewBag.results.Item1 < 0)
        {
            <p>Podana liczba (@ViewBag.values.Item3) jest za mała.</p>
        }
        else if (ViewBag.results.Item1 > 0)
        {
            <p>Podana liczba (@ViewBag.values.Item3) jest za duża.</p>
        }
        else
        {
            <p>Hurra! Liczba @ViewBag.values.Item3 jest rozwiązaniem!</p>
        }

        // liczba 2
        if (ViewBag.results.Item2 < 0)
        {
            <p>Podana liczba (@ViewBag.values.Item4) jest za mała.</p>
        }
        else if (ViewBag.results.Item2 > 0)
        {
            <p>Podana liczba (@ViewBag.values.Item4) jest za duża.</p>
        }
        else
        {
            <p>Hurra! Liczba @ViewBag.values.Item4 jest rozwiązaniem!</p>
        }
    }

</div>
