@model List<Tuple<lista10.Models.Article, int>>

@{
    ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>

@if (Model.Count() == 0)
{
    <h2 class=".text-secondary">The cart is empty</h2>
}
else 
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item1.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item1.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item2)
                    </td>
                    <td>
                        <a href="@Url.Action("Increase", new { id = item.Item1.Id })" class="btn btn-light">+</a>
                        <a href="@Url.Action("Decrease", new { id = item.Item1.Id })" class="btn btn-light">-</a>
                        <a href="@Url.Action("RemoveCart", new { id = item.Item1.Id })" class="btn btn-danger">Remove From Cart</a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Together: 
        @{
            var order_value = Model
                    .Select(item => item.Item1.Price * item.Item2)
                    .Sum();

        }
        @order_value$
    </h2>
   
}

<a href="@Url.Action("Index", "Shop")" class="btn btn-light">Go back to shopping</a>
